# Moby Bikes

<img src='https://i.ytimg.com/vi/-s8er6tHD3o/maxresdefault.jpg' style='height:400px'>

## eBike Operators

### Job Description:

MOBY is Ireland’s most exciting urban mobility company. We deployed a fleet of shared electric bikes in the nation’s capital.

We need an ambitious  person distributing and relocating our eBikes throughout the city, while performing safety checks and basic maintenance (training provided).

Delivering and collecting  private rental eBikes for our customers.

We plan to expand our team in Dublin and abroad, so there will be opportunities to progress within the company .

### Responsibilities:

- **Distributing bikes to the city’s most in-demand locations (Cycling electric cargo trike).**
- **Replacing bike batteries when out of charge.**
- Relocating bikes which have been incorrectly parked.
- Scheduling and completing delivery and collection of subscription eBikes (Moby+ and Moby+ Pro) to our customers.
- **Check and repair eBikes on street (training provided).**
- Other responsibilities as required.

In [1]:
import pandas as pd
import numpy as np
import requests
import json
from pandas import json_normalize

In [40]:
#moby_jan[(moby_jan['BikeID'] == 5) &(moby_jan['LastRentalStart'] == '2020-12-31 17:35:09')]

In [48]:
parameters = {
    "start": '2020-10-13',
    "end": '2021-6-4',
    "bikeid": 5
}

In [49]:
response = requests.get("https://data.smartdublin.ie/mobybikes-api/historical", params=parameters)

In [50]:
print(response.json())

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [51]:
def jprint(obj):
    # create a formatted string of the Python JSON object
    text = json.dumps(obj, sort_keys=True, indent=4)
    print(text)

jprint(response.json())

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [52]:
dictr = response.json()
df = json_normalize(dictr)

In [53]:
df.shape

(9280, 15)

In [54]:
df

,HarvestTime,BikeID,Battery,BikeIdentifier,BikeTypeName,EBikeProfileID,EBikeStateID,IsEBike,IsMotor,IsSmartLock,LastGPSTime,LastRentalStart,Latitude,Longitude,SpikeID
0,2020-10-13T00:00:02,5,81.0,1,DUB-General,1,2,True,False,False,2020-10-13T00:54:49,2020-10-12T20:15:04,53.3521,-6.26064,1
1,2020-10-13T00:30:02,5,81.0,1,DUB-General,1,2,True,False,False,2020-10-13T01:24:49,2020-10-12T20:15:04,53.3521,-6.26064,1
2,2020-10-13T01:00:04,5,81.0,1,DUB-General,1,2,True,False,False,2020-10-13T01:54:49,2020-10-12T20:15:04,53.3521,-6.26064,1
3,2020-10-13T01:30:03,5,81.0,1,DUB-General,1,2,True,False,False,2020-10-13T02:21:19,2020-10-12T20:15:04,53.3521,-6.26065,1
4,2020-10-13T02:00:02,5,81.0,1,DUB-General,1,2,True,False,False,2020-10-13T02:51:19,2020-10-12T20:15:04,53.3521,-6.26065,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9275,2021-06-03T21:30:02,5,86.0,1,DUB-General,1,2,True,False,False,2021-06-03T21:29:27,2021-06-03T17:24:19,53.3225,-6.23784,1
9276,2021-06-03T22:00:01,5,86.0,1,DUB-General,1,2,True,False,False,2021-06-03T21:59:26,2021-06-03T17:24:19,53.3225,-6.23784,1
9277,2021-06-03T22:30:02,5,86.0,1,DUB-General,1,2,True,False,False,2021-06-03T22:29:27,2021-06-03T17:24:19,53.3225,-6.23785,1
9278,2021-06-03T23:00:01,5,86.0,1,DUB-General,1,2,True,False,False,2021-06-03T22:59:27,2021-06-03T17:24:19,53.3225,-6.23784,1
9279,2021-06-03T23:30:02,5,86.0,1,DUB-General,1,2,True,False,False,2021-06-03T23:29:26,2021-06-03T17:24:19,53.3225,-6.23784,1

In [56]:
df.groupby('LastRentalStart').size().sort_values(ascending=False)

LastRentalStart
2020-12-21T01:31:31    359
2021-01-08T17:22:42    250
2021-04-11T12:40:57    239
2021-02-02T21:17:40    224
2020-12-09T12:57:45    168
                      ...
2021-05-16T21:26:07      1
2021-05-16T20:37:21      1
2021-02-27T21:39:20      1
2021-05-14T19:19:31      1
2021-03-14T16:01:43      1
Length: 316, dtype: int64

In [3]:
import os
import glob
import pandas as pd
os.chdir("./data")

In [4]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [5]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')

In [6]:
moby_all = pd.read_csv('moby-bikes-092020-062021.csv')

In [7]:
moby_all.shape

(960928, 15)

In [8]:
moby_all.head()

,HarvestTime,BikeID,Battery,BikeIdentifier,BikeTypeName,EBikeProfileID,EBikeStateID,IsEBike,IsMotor,IsSmartLock,LastGPSTime,LastRentalStart,Latitude,Longitude,SpikeID
0,2021-04-01 00:00:03,5,7.0,1,DUB-General,1,2,True,False,False,2021-03-31 23:41:40,2021-03-30 19:18:18,53.3091,-6.21643,1
1,2021-04-01 00:00:03,6,16.0,2,DUB-General,1,2,True,False,False,2021-03-31 23:55:41,2021-03-31 10:31:13,53.3657,-6.32249,2
2,2021-04-01 00:00:03,7,66.0,3,DUB-General,4,2,True,False,False,2021-03-31 23:42:04,2021-03-30 13:07:19,53.2799,-6.14497,3
3,2021-04-01 00:00:03,8,48.0,4,DUB-General,1,2,True,False,False,2021-03-31 23:52:26,2021-03-30 12:43:17,53.2891,-6.11378,4
4,2021-04-01 00:00:03,9,-6.0,5,DUB-General,1,2,True,False,False,2021-03-31 23:50:20,2021-03-29 22:37:58,53.2928,-6.13014,5

In [9]:
moby_all.isnull().sum()

HarvestTime            0
BikeID                 0
Battery            25342
BikeIdentifier         0
BikeTypeName           0
EBikeProfileID         0
EBikeStateID           0
IsEBike                0
IsMotor                0
IsSmartLock            0
LastGPSTime            0
LastRentalStart        0
Latitude               0
Longitude              0
SpikeID                0
dtype: int64

In [14]:
moby_all.groupby('LastRentalStart').size().sort_values(ascending=True)

LastRentalStart
2021-06-16 17:48:17      1
2021-01-22 09:56:56      1
2021-05-24 20:07:42      1
2021-06-11 01:51:33      1
2021-06-03 09:53:57      1
                      ...
2020-10-05 10:45:28    527
2021-01-02 12:52:10    530
2020-10-26 12:43:07    530
2021-03-09 11:02:27    717
2020-09-28 09:27:52    720
Length: 27502, dtype: int64

>https://data.gov.ie/dataset/phoenix-park-hourly-data

>https://data.gov.ie/dataset/phoenixpark-daily-data

### Average rent time - Assumption

Due to lack of information and data, to calculate the average rent time I am assuming that when a new bike rental starts the average will be calculated by:

$$ AvgRentTime* = LastGPSTime - LastRentalStart $$

\*AvgRentTime in minutes