# Moby Bikes

## eBike Operators

### Job Description:

MOBY is Ireland’s most exciting urban mobility company. We deployed a fleet of shared electric bikes in the nation’s capital.

We need an ambitious  person distributing and relocating our eBikes throughout the city, while performing safety checks and basic maintenance (training provided).

Delivering and collecting  private rental eBikes for our customers.

We plan to expand our team in Dublin and abroad, so there will be opportunities to progress within the company .

### Responsibilities:

- **Distributing bikes to the city’s most in-demand locations (Cycling electric cargo trike).**
- **Replacing bike batteries when out of charge.**
- Relocating bikes which have been incorrectly parked.
- Scheduling and completing delivery and collection of subscription eBikes (Moby+ and Moby+ Pro) to our customers.
- **Check and repair eBikes on street (training provided).**
- Other responsibilities as required.

In [1]:
import pandas as pd
import numpy as np

In [2]:
moby_jan = pd.read_csv('moby-bikes-historical-data-012021.csv')

In [3]:
moby_jan.head()

,HarvestTime,BikeID,Battery,BikeIdentifier,BikeTypeName,EBikeProfileID,EBikeStateID,IsEBike,IsMotor,IsSmartLock,LastGPSTime,LastRentalStart,Latitude,Longitude,SpikeID
0,2021-01-01 00:00:03,5,44.0,1,DUB-General,1,2,True,False,False,2020-12-31 23:34:59,2020-12-31 17:35:09,53.3625,-6.23690,1
1,2021-01-01 00:00:03,6,85.0,2,DUB-General,1,2,True,False,False,2020-12-31 23:40:34,2020-12-31 12:35:39,53.3382,-6.22264,2
2,2021-01-01 00:00:03,7,82.0,3,DUB-General,1,2,True,False,False,2020-12-31 23:47:25,2020-12-31 10:43:02,53.3440,-6.26688,3
3,2021-01-01 00:00:03,8,64.0,4,DUB-General,1,2,True,False,False,2020-12-31 23:50:23,2020-12-30 19:56:56,53.3625,-6.23710,4
4,2021-01-01 00:00:03,9,71.0,5,DUB-General,1,2,True,False,False,2020-12-31 23:45:27,2020-12-31 18:32:51,53.3496,-6.27782,5

In [8]:
moby_jan.groupby('BikeTypeName').size().sort_values(ascending=False)

BikeTypeName
DUB-General    129093
dtype: int64

In [6]:
moby_jan.groupby('HarvestTime').size().sort_values(ascending=False)

HarvestTime
2021-01-15 06:00:02    99
2021-01-14 22:30:02    99
2021-01-15 07:30:02    99
2021-01-15 05:30:02    99
2021-01-15 05:00:03    99
                       ..
2021-01-06 11:30:02    76
2021-01-26 12:00:02    74
2021-01-16 16:00:02    71
2021-01-16 15:30:02    70
2021-01-16 15:00:03    66
Length: 1442, dtype: int64

In [7]:
moby_jan.groupby(['LastRentalStart','BikeID']).size().sort_values(ascending=False)

LastRentalStart      BikeID
2021-01-02 12:52:10  32        530
2021-01-02 15:14:50  99        525
2021-01-02 12:14:05  85        481
2021-01-04 13:37:21  113       477
2021-01-04 13:37:16  15        477
                              ...
2021-01-21 12:40:02  64          1
2021-01-17 13:38:08  53          1
2021-01-12 11:06:38  44          1
2021-01-17 13:09:39  64          1
2021-01-27 17:50:45  76          1
Length: 2357, dtype: int64